@using DG.HostApp.Components.ClusterConfigEditor.Forms

<div class="card-body">
    <table class="table">
        <tr>
            <th> Name: </th>
            <th> Path: </th>
            <th> Path type: </th>
            <th> </th>
            <th> </th>
        </tr>
        @foreach (var applicationTypeSource in this.ClusterConfig.ClusterDefinition.ApplicationTypesSources)

        {
    <tr>
        <td>@applicationTypeSource.Name</td>
        <td>@applicationTypeSource.Path </td>
        <td>@applicationTypeSource.PathType"</td>
        <td> <button class=" btn btn-outline-primary" @onclick="() => SetTypeSource(applicationTypeSource) ">Edit</button></td>
        <td> <button class=" btn btn-outline-primary" @onclick="(async () => await DeleteAppTypeSource(applicationTypeSource))">Delete</button></td>
    </tr>
            <tr style="display:@SetVisible(applicationTypeSource.Name)">
                <td colspan="4"><AppTypeSourceEditForm EditableType="applicationTypeSource" OnClickCallBack="Refresh" /> </td>
            </tr>
        }
    </table>
    <button class="btn btn-outline-primary" @onclick="AddTypeSource">Add Type</button>
</div>}
