@using DG.Core.Model.ClusterConfig
@using DG.HostApp.Components.ClusterConfigEditor.Forms

<div class="card-body">
    <table class="table">
        <tr>
            <th> Name: </th>
            <th> Path: </th>
            <th> Path type: </th>
            <th> </th>
            <th> </th>
        </tr>
        @foreach (var applicationType in ClusterConfig.ClusterDefinition.ApplicationTypesSources)

        {
    <tr>
        <td>@applicationType.Name</td>
        <td>@applicationType.Path </td>
        <td>@applicationType.PathType"</td>
        <td> <button class=" btn btn-outline-primary" @onclick="() => SetType(applicationType) ">Edit</button></td>
        <td> <button class=" btn btn-outline-primary" @onclick="(async () => await DeleteAppType(applicationType))">Delete</button></td>
    </tr>
            <tr style="display:@SetVisible(applicationType.Name)">
                <td colspan="4"><AppTypeEditForm EditableType="applicationType" OnClickCallBack="Refresh" /> </td>
            </tr>
        }
    </table>
    <button class="btn btn-outline-primary" @onclick="AddType">Add Type</button>
</div>




@code {
    [Parameter]
    public ClusterConfig ClusterConfig { get; set; }
    private ApplicationTypeSource selectedType { get; set; }
    private string displayMode = "none";
    private string selectedTypeName = "";

    private void AddType()
    {
        ClusterConfig.ClusterDefinition.ApplicationTypesSources.Add(
            new ApplicationTypeSource
            {

            });
    }

    private Task<bool> DeleteAppType(ApplicationTypeSource applicationType)
    {
        return Task.Run(() =>
              ClusterConfig.ClusterDefinition.ApplicationTypesSources.Remove(applicationType)
              );

    }

    private string SetVisible(string applicationTypeName)
    {
        if (applicationTypeName == selectedTypeName)
        {
            displayMode = "table-row";
        }
        else displayMode = "none";
        return displayMode;

    }

    private void SetType(ApplicationTypeSource applicationType)
    {
        selectedType = applicationType;
        selectedTypeName = selectedType.Name;
    }

    private void Refresh(ApplicationTypeSource applicationType)
    {
        displayMode = "none";
        selectedType = applicationType;
        selectedTypeName = "";
    }

}
