@page "/clusterconfigeditor"
@using Microsoft.Extensions.Options
@inject IOptions<DG.Core.Model.ClusterConfig.Host> currentHost
@inject IClusterConfigPageService clusterConfigPageService
<h1>Cluster configuration manager</h1>
<button class="btn btn-outline-primary" @onclick="SetFormView">Form view</button>
<button class="btn btn-outline-primary" @onclick="SetRawView">Raw view</button>
<button class="btn btn-outline-primary" @onclick="ToggleFileUploadView">Upload JsonConfig</button>


@if (fileUploadView == true)
{
    <div class="drag-drop-zone">
        <InputFile OnChange="ViewFile" />
        @status
    </div>
}

@if (clusterConfig == null)
{
    <p><em>Loading configuration...</em></p>
}
else
{
    if (rawView == true)
    {
        <h2>Cluster configuration:</h2>
        <EditForm Model="@rawConfigAsJson" OnValidSubmit="@(async()=> await clusterConfigPageService.WriteConfig(clusterConfig,currentHost, rawView, rawConfigAsJson))">
            <InputTextArea style="height: 500px; width: 70%; resize:both;" @bind-Value="rawConfigAsJson" /> <br />
            <button class="btn btn-outline-primary" type="submit">Update config</button>
        </EditForm>
    }
    else
    {
        <CurrentHostCard ClusterConfig="clusterConfig" />
        <ClusterDefinitionGroup ClusterConfig="clusterConfig" />
    }
}




