@page "/"

<div class="row mb-3">
    
  <div class="col-md-4 themed-grid-col">
    
     <DashboardLeftMenu>
         <DashboardLeftMenuGroup Header="Dashboard Models" Collapsed="false">
             <DashboardLeftMenuItem Name="TypeA" Active="false"/>
             <DashboardLeftMenuItem Name="TypeB" Active="false"/>
         </DashboardLeftMenuGroup>
         <DashboardLeftMenuGroup Header="Dashboard Application Types" Collapsed="false">
               <DashboardLeftMenuItem Name="TypeA" Active="false"/>
                          <DashboardLeftMenuItem Name="TypeB" Active="false"/>
         </DashboardLeftMenuGroup>
         <DashboardLeftMenuGroup Header="Dashboard Application Instances" Collapsed="false">
               <DashboardLeftMenuItem Name="TypeA" Active="false"/>
                          <DashboardLeftMenuItem Name="TypeB" Active="false"/>
         </DashboardLeftMenuGroup>
         <DashboardLeftMenuGroup Header="All Application Types" Collapsed="false">
               <DashboardLeftMenuItem Name="TypeA" Active="false"/>
               <DashboardLeftMenuItem Name="TypeB" Active="false"/>
                 <DashboardLeftMenuItem Name="TypeA" Active="false"/>
                            <DashboardLeftMenuItem Name="TypeB" Active="false"/>
         </DashboardLeftMenuGroup>
         <DashboardLeftMenuGroup Header="All Application Instances" Collapsed="false">
               <DashboardLeftMenuItem Name="TypeA" Active="false"/>
               <DashboardLeftMenuItem Name="TypeB" Active="false"/>
                 <DashboardLeftMenuItem Name="TypeA" Active="false"/>
                            <DashboardLeftMenuItem Name="TypeB" Active="false"/>
         </DashboardLeftMenuGroup>
     </DashboardLeftMenu>
  </div>
  <div class="col-md-8 themed-grid-col">
    
  </div>
</div>